html {
	box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	@extend %all-sprite !optional;
	margin: auto;
	min-width: $screen-size-mobile;
}

@media (min-width: $screen-size-tablet){
	body {
		min-width: $screen-size-tablet;
	}
}

@media (min-width: $screen-size-desktop){
	body {
		max-width: $screen-size-desktop;
	}
}