footer {
	$color-border: rgba(255, 255, 255, 0.1);
	display:block;
	min-width: $screen-size-mobile;
	text-align: center;
	background-color: #292929;
	color: #ffffff;
	padding: 39px 0 24px 0;
	.contacts {
		&-title {
			font: 700 14px "PT Sans - Narrow";
			margin-bottom: 22px;
		}
		&-addres {
			display: block;
			color: #ffffff;
			font: 700 14px/27px "PT Sans - Narrow Bold";
		}
		&-phone {
			display: block;
			width: 280px;
			height: 50px;
			margin: auto;
			font: 700 18px/50px "PT Sans - Narrow Bold";
			margin-bottom: 22px;
			border: 1px solid $color-border;
			text-decoration: none;
			color: #ffffff;
			&:active {
				background: #252525;
				border: 0;
				color: #666666;
			}
		}
		&-phone-tel {
			display: none;
		}
	}
	.social {
		display: inline-block;
		margin: auto;
	}
	.social-list {
		list-style-type: none;
		display:flex;
		padding: 0;
		margin: 0;
		margin-bottom: 35px;
		&:active {
			background: #252525;
			.social-list-item a{
				border: 0;
			}
		}
		&-item a{
			width: 108px;
			height: 100px;
			border: 1px solid $color-border;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-item:nth-child(2) {
			border-left: 0;
			border-right: 0;
		}
	}
	.social-title {
		display: none;
	}
	.development {
		&-title {
			display: block;
			margin-bottom: 15px;
		}
		&-addres {
			display: block;
			width: 280px;
			height: 50px;
			margin: auto;
			line-height: 50px;
			border: 1px solid $color-border;
			text-decoration: none;
			color: #ffffff;
			&:active {
				background: #252525;
				border: 0;
				color: #666666;
			}
		}
	}
}

@media (min-width: $screen-size-tablet) {
	footer {
		min-width: $screen-size-tablet;
		padding: 52px 69px 59px 69px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.contacts {
			width: 321px;
			margin-right: auto;
			text-align: left;
			&-title {
				text-transform: uppercase;
			}
			&-addres {
				margin-bottom: 0;
			}
			&-phone {
				border: 0;
				margin: 0;
			}
			&-phone-tel {
				display: inline-block;
			}
		}
		.social {
			margin: auto;
			order: 1;
			&-list-item a {
				width: 214px;
			}
		}
		.development {
			margin-left: auto;
		}
		.development-addres {
			width: 210px;
		}
	}
}

@media (min-width: $screen-size-desktop) {
	footer {
		max-width: $screen-size-desktop;
		.social {
			order: 0;
			margin: 0;
			&-title {
				display: block;
				margin-bottom: 15px;
			}
			&-list-item a {
				width: 50px;
				height: 50px;
			}
			&-list-item:nth-child(2) {
				margin-left: 6px;
				margin-right: 6px;
			}
		}
	}
}