.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip:rect(0 0 0  0);
	overflow: hidden;
}

.main-header {
	.bg-header {
		background-color: #242424;
		padding: 29px 0;
	}
	.bg-icone {
		@include sprite($s-borodinski);
		margin: auto;
	}
	li,
	a {
		color: white;
		list-style: none;
		text-decoration: none;
	}
	.main-nav {
		z-index: 1;
		background-color: #6a4d38;
		position: relative;
		margin: 0;
		padding: 0;
		min-height: 50px;
		&-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		&-list {
			padding: 0;
			margin: 0;
		}
		&-list li {
			height: 50px;
			background-color: #826550;
			border-top: 1px solid #886e5b;
			border-bottom: 1px solid #71543f;
			text-align: center;
		}
		&-list a{
			display: inline-block;
			width: 100%;
			font: 700 13px/50px "PT Sans - Narrow Bold";
			text-decoration: none;
			text-transform: uppercase;
			&:active {
				background: rgba(0, 0, 0, 0.1);
				color: #968273;
			}
		}
		&-list-exit {
			padding: 0;
			margin: 0;
			font: 400 18px/50px "PT Sans - Narrow";
			li {
				height: 50px;
			}
			a {
				display: inline-block;
				padding: 0 0 0 20px;
				width: 100%;
			}
			.icon-exit{
				display: inline-block;
				width: 16px;
				height: 16px;
				fill: #978274;
				margin-right: 13px;
				vertical-align: middle;
			}
		}
	}
	@media (max-width: $screen-size-tablet) {
		.btn-nav {
			position: absolute;
			top: 0;
			right: 0;
			border: 0;
			background-color: #6a4d38;
			width: 70px;
			height: 50px;
			cursor: pointer;
		}
		.is-opened {
			.btn-nav:after {
				content: '';
				display: block;
				margin: auto;
				z-index: 2;
				width: 36px;
				height: 3px;
				background: rgba(255, 255, 255, 0.8);
				box-shadow: 0 10px 0 0 rgba(255, 255, 255, 0.8), 0 -10px 0 0 rgba(255, 255, 255, 0.8);
			}
			.btn-nav {
				&:active {
					&:after,
					&:before {
						opacity: 0.4;
					}
				}
			}
			li {
				display:none;
			}
			.is-active {
				display: block;
			}
		}
		.is-closed {
			.main-nav-wrapper {
				height: 569px;
				left: 70px;
				background-color: #6a4d38;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 7px;
					height: 100%;
					box-shadow: inset 4px 0 7px -4px black;
				}
			}
			.main-nav-list {
				li {
					text-align: left;
				}
				a{
					padding-left: 18px;
					&:active {
						color: #968273;
					}
				}
			}
			.btn-nav {
				position: absolute;
				left: -70px;
				&:after,
				&:before {
					content: '';
					position: absolute;
					top: 24px;
					left: 20px;
					width: 36px;
					height: 3px;
					background: rgba(255, 255, 255, 0.8);
				}
				&:active {
					&:after,
					&:before {
						opacity: 0.4;
					}
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

@media (min-width: $screen-size-tablet) {
	.main-header {
		display: flex;
		flex-direction: column;
		.bg-header {
			width: 100%;
			height: 397px;
			order: 1;
			background-image: url("../img/bgHeader.png");
			background-size: cover;
		}
		.bg-icone {
			@include sprite($s-borodinski1);
		}
		.btn-nav {
			display: none;
		}
		.main-nav {
			position: relative;
			background-color: black;
			&-wrapper {
				position: relative;
				display: flex;
				margin: auto;
				width: 680px;
			}
			&-list {
				position: relative;
				text-transform: uppercase;
				li, a {
					background-color: black;
					border: 0;
				}
				li {
					height: 72px;
					margin-left: 32px;
				}
				li:first-child {
					margin: 0;
				}
				a {
					font: 400 13px/74px "PT Sans - Narrow Bold";
					display: inline-block;
					height: 100%;
				}
				a:hover {
					color: #765844;
				}
				a:active {
					color: #4c4c4c;
				}
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				.is-active {
					position: relative;
					&:after {
						content: '';
						position: absolute;
						right: 0;
						bottom: -3px;
						left: 0;
						height: 3px;
						background-color: #826550;
					}
				}
			}
			&-list-exit {
				position: relative;
				display: inline-block;
				padding: 0;
				margin: auto 0;
				li {
					height: 74px;
				}
				a {
					padding: 0;
					padding-left: 32px;
					&:hover .icon-exit {
						fill: #826550;
					}
					&:active .icon-exit {
						fill: #4c4c4c;
					}
					line-height: 74px;
				}
				.icon-exit{
					fill: #4c4c4c;
					margin: 0;
				}
				.is-hidden {
					display: none;
				}
			}
		}
		
	}
}

@media (min-width: $screen-size-desktop) {
	.main-header {
		.bg-header {
			height: 648px;
		}
		.bg-icone {
			@include sprite($s-borodinski2);
			margin-top: 53px;
		}
		.main-nav-wrapper {
			width: 980px;
		}
		.main-nav {
			&-list {
				a {
					display: block;
					padding: 0 30px;
					margin: 0;
				}
				a:hover {
					color: black;
					background-color: white;
				}
				a:active {
					color: #c7c7c7;
				}
				li {
					margin: 0;
				}
				.is-active:after {
					display: none;
				}
			}
		}
		.main-nav-list-exit {
			margin-left: 30px;
			.icon-exit{
				margin-right: 19px;
			}
			.is-hidden {
				display: inline;
				text-transform: uppercase;
			}
			li {
				height: 74px;
			}
			a {
				padding: 0 27px;
				display: inline-block;
				line-height: 74px;
				width: 100%;
				height: 100%;
			}
			a:hover {
				.icon-exit {
					fill: #b2b2b2;
				}
				color: black;
				background-color: white;
			}
			a:active {
				.icon-exit {
					fill: #e5e5e5 !important;
				}
					color: #c7c7c7;
			}
		}
	}
}
