main {
	background: #353535;
}
main .stats {
	text-align: center;
	sup {
		z-index: 0;
	}
	header {
		color: #000000;
		background-color: #fff;
		padding: 25px 6%;
		h1 {
			font: 400 25px/30px "PT Sans - Narrow Bold";
			text-transform: uppercase;
			margin: 0;
		}
		p {
			font: 400 15px/27px "PT Sans - Narrow Bold";
			padding-top: 20px;
			margin: 0;
		}
		.data-false.is-hidden {
			display: none;
		}
	}
	.stats-table {
		color: white;
		border-collapse: collapse;
		width: 100%;
		tr {
			width: 100%;
			display: inline-block;
			padding: 0 20px;
		}
		td {
			padding: 0;
			width: 10%;
			height: 78px;
			&:first-child {
				font: 400 30px "PT Sans - Narrow Bold";
				min-width: 120px;
				text-align: left;
			}
			&:last-child {
				font: 400 18px "PT Sans - Narrow";
				text-align: right;
			}
		}
		& tr:nth-child(1) {
			background: #404040;
		}
		& tr:nth-child(2) {
			background: #4e4e4e;
		}
		& tr:nth-child(3) {
			background: #353535;
		}
		& tr:nth-child(4) {
			background: #404040;
		}
	}
	.data-false {
		display: block;
		padding-top: 20px;
		background: #242424;
		color: #656565;
		font: 400 20px/27px "PT Sans - Narrow";
	}
}

@media (min-width: $screen-size-tablet) {
	main .stats {
		display: flex;
		flex-direction: column;
		header {
			display:flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 0 auto;
			width: 640px;
			height: 184px;
			padding: 35px 82px 31px 40px;
			background: #ffffff;
			margin-top: -184px;
			position: relative;
			h1 {
				width: 240px;
				text-align: left;
				margin: 0;
				text-transform: none;
			}
			p {
				width: 230px;
				text-align: left;
				margin: 0;
				padding: 0;
			}
			&:after {
				content: '';
				position: absolute;
				left: -22px;
				top: 42px;
				width: 0;
				height: 0;
				border-right: 22px solid white;
				border-bottom: 22px solid rgba(0,0,0, 0);
			}
			.data-false.is-hidden {
				display: inline-block;
				background: white;
				padding-top: 25px;
				text-align: left;
				color: rgba(0, 0, 0, 0.3);
				font: 400 16px/16px "PT Sans - Narrow";
			}
		}
		.stats-table {
			width: 640px;
			margin: 0 auto;
			tbody {
				display: flex;
				flex-wrap: wrap;
			}
			tr {
				padding: 32px 0 31px 37px;
				width: 50%;
			}
			td {
				display: block;
				width: auto;
				height: auto;
			}
			td:first-child {
				padding-bottom: 21px;
				font-size: 50px;
			}
			td:last-child {
				text-align: left;
			}
		}
		.data-false.is-hidden {
			display: none;
		}
	}
}

@media (min-width: $screen-size-desktop) {
	main .stats {
		flex-direction: row;
		justify-content: center;
		margin-top: -166px;
		header {
			display: block;
			padding-right: 70px;
			width: 360px;
			height: auto;
			margin: 0;
			h1 {
				width: auto;
				padding-bottom: 41px;
			}
			p {
				width: auto;
			}
		}
		.stats-table {
			display: flex;
			margin: 0;
			height: auto;
		}
	}
}