main .plus {
	padding: 44px 0;
	background: #242424;
	.slider-wrapper {
		width: 320px;
		overflow: hidden;
		margin: auto;
		margin-bottom: 30px;
	}
	&-list {
		display: flex;
		list-style: none;
		width: 300%;
		margin: 0;
		transition: margin-left 3s ease-in-out;
		padding: 0;
		.img-s-clips,
		.img-s-chair,
		.img-s-price {
			margin: auto;
			margin-bottom: 34px
		}
		li {
			width: 33.333%;
			padding: 0 30px;
			color: #f7f4f1;
			text-align: center;
			font: 400 14px/27px "PT Sans - Narrow Bold";
			h1 {
				margin: 0;
				margin-bottom: 22px;
				text-transform: uppercase;
			}
			p {
				margin: 0;
			}
		}
	}
	.slider-toggle {
		display: flex;
		justify-content: space-between;
		width: 100px;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		li {
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 2px solid #b3b3b3;
			transform: rotate(45deg);
			cursor: pointer;
			&.is-active {
				background: white;
				border: 0;
			}
		}
	}
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		border-right: 51vw solid rgba(0,0,0,0);
		border-bottom: 34px solid #f8f5f2;
	}
	&:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		border-left: 51vw solid rgba(0,0,0,0);
		border-bottom: 34px solid #f8f5f2;
	}
}

@media (min-width: $screen-size-tablet) and (max-width: $screen-size-desktop) {
	main .plus {
		padding-bottom: 90px;
		background: #353535;
		.slider-wrapper {
			width: 640px;
			margin: 0 auto;
			overflow: auto;
		}
		&-list {
			display: block;
			margin: 0 !important;
			width: 100%;
			li {
				display: block;
				width: 100%;
				padding: 0;
				text-align: left;
				h1 {
					margin-bottom: 15px;
				}
			}
			li:nth-child(1) {
				margin-bottom: 40px;
			}
			li:nth-child(2) {
				border-top: 1px solid #494949;
				border-bottom: 1px solid #494949;
				padding: 40px 0;
			}
			li:nth-child(3) {
				margin-top: 40px;
			}
			
		}
		.img-s-clips,
		.img-s-chair,
		.img-s-price {
			float: left;
			margin: 0;
			margin-right: 32px;
		}
		.slider-toggle.is-hidden {
			display: none;
		}
		&:after,
		&:before {
			border-bottom-width: 50px;
		}
	}
}

@media (min-width: $screen-size-desktop) {
	main .plus {
		background: #353535;
		padding: 107px 0 79px;
		.slider-wrapper {
			width: 970px;
			margin: 0 auto;
			overflow: auto;
		}
		&-list {
			margin: 0 !important;
			width: 100%;
			li {
				display: block;
				width: 100%;
			}
			li:nth-child(1),
			li:nth-child(3) {
				padding: 0 45px;
			}
			li:nth-child(2) {
				border-left: 1px solid #494949;
				border-right: 1px solid #494949;
				padding: 0 60px;
			}
		}
		.slider-toggle.is-hidden {
			display: none;
		}
		&:after {
			border-right-width: 605px;
			border-bottom-width: 70px;
		}
		&:before {
			border-left-width: 605px;
			border-bottom-width: 70px;
		}
	}
}
