main .reviews {
	background: #f8f5f2;
	padding-top: 30px;
	padding-bottom: 52px;
	h1 {
		text-align: center;
		font: 600 30px/24px "PT Sans - Narrow Bold";
		text-transform: uppercase;
		margin: 0;
	}
	p {
		display: inline-block;
		width: 210px;
		margin: 0;
		margin-top: 16px;
		font: 400 18px/27px "PT Sans - Narrow";
	}
	.name {
		font: 700 20px/20px "PT Sans - Narrow Bold";
	}
	.img-people {
		@include sprite($s-people1mobile);
		float: left;
		margin-right: 19px;
	}
	.reviews-slider {
		width: 320px;
		margin: 0 auto;
		overflow: hidden;
	}
	.reviews-slider-wrapper {
		transition: margin-left 3s ease-in-out;
		display: flex;
		width: 300%;
		blockquote {
			padding: 37px 20px 29px 20px;
			margin: 0;
			width: 33.3333%;
		}
	}
	.reviews-toggle-slider {
		display: flex;
		width: 100px;
		justify-content: space-between;
		margin: 0 auto;
		button {
			padding: 0;
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 2px solid #b3b3b3;
			transform: rotate(45deg);
			cursor: pointer;
			&.is-active {
				background: black;
				border: 0;
			}
		}
	}
	@media (max-width: $screen-size-tablet) {
		.reviews-btn.is-hidden {
			display: none;
		}
		.reviews-btn-previus.is-hidden {
			display: none;
		}
		.reviews-btn-next.is-hidden {
			display: none;
		}
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-right: 51vw solid rgba(0,0,0,0);
			border-bottom: 34px solid #292929;
		}
		&:before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			border-left: 51vw solid rgba(0,0,0,0);
			border-bottom: 34px solid #292929;
		}
	}
}

@media (min-width: $screen-size-tablet) {
	main .reviews {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 46px 65px 71px 65px;
		p {
			width: 350px;
		}
		.reviews-btn {
			width: 160px;
			height: 50px;
			padding: 0;
			border: 1px solid #e5ddd5;
			background: #f8f5f2;
			font: 400 13px/50px "PT Sans - Narrow Bold";
			text-transform: uppercase;
		}
		.img-people {
			@include sprite($s-people1tablet);
			border-radius: 50%;
		}
		.reviews-slider {
			width: 542px;
			margin: 0;
			border: 1px solid #e5ddd5;
			overflow: hidden;
		}
		.reviews-slider-wrapper {
			blockquote {
				padding: 37px 55px 29px 20px;
			}
		}
		.slider-wrapper {
			margin-top: 36px;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.reviews-toggle-slider {
			width: 126px;
			margin-top: -5px;
			background-color: #f8f5f2;
			padding: 0 25px;
		}
		.reviews-btn-next,
		.reviews-btn-previus {
			width: 50px;
			border: 1px solid #e5ddd5;
			padding: 0;
			background: #f8f5f2;
		}
		.reviews-btn-next:after {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 12px solid rgba(0,0,0,0);
			border-left: 12px solid black;
			border-bottom: 12px solid  rgba(0,0,0,0);
		}
		.reviews-btn-previus:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 12px solid rgba(0,0,0,0);
			border-right: 12px solid black;
			border-bottom: 12px solid  rgba(0,0,0,0);
		}
	}
}

@media (min-width: $screen-size-desktop) {
	main .reviews {
		padding: 46px 120px;
		h1 {
			margin-left: 71px;
		}
		b {
			display: inline-block;
			margin-top: 36px;
		}
		p {
			width: 417px;
		}
		.reviews-slider-wrapper {
			blockquote {
				padding: 0;
				padding-right: 81px;
			}
		}
		.img-people {
			@include sprite($s-people1);
			margin-right: 69px;
			border-radius: 0;
		}
		.reviews-toggle-slider {
			margin-top: 41px;
		}
		.reviews-slider {
			width: 820px;
		}
		.reviews-btn-next {
			margin-left: 21px;
		}
		.reviews-btn-previus {
			margin-right: 21px;
		}
	}
}
