main .news {
	background: #f8f5f2;
	padding: 37px 20px 28px 20px;
	border-bottom: 1px solid #e5ddd5;
	h1 {
		margin: 0;
		margin-bottom: 35px;
		color: #000000;
		font: 400 23px/23px "PT Sans - Narrow Bold";
		text-transform: uppercase;
		text-align: center;
	}
	&-list {
		list-style: none;
		margin: 0;
		margin-bottom: 4px;
		padding: 0;
		li {
			display: flex;
		}
		li.is-hidden {
			display: none;
		}
		li:nth-child(1) {
			padding-bottom: 21px;
		}
		li:nth-child(n+2) {
			padding: 21px 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background: #e5ddd5;
				left: 0;
				top: 0;
			}
		}
		li:hover {
			.number {
				background: #826550;
			}
			p {
				color: #88654f;
				text-decoration: underline;
			}
		}
		li:active {
			.number {
				background: #6a4d38;
				color: #937f6f;
			}
			p {
				color: #714f39;
				text-decoration: underline;
			}
		}
		p {
			margin: 0;
			text-align: left;
		}
		.number {
			display: block;
			text-align: center;
			padding-top: 9px;
			margin-right: 20px;
			min-width: 50px;
			height: 60px;
			background: black;
			color: white;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				border-right: 25px solid rgba(0,0,0,0);
				border-bottom: 10px solid white;
			}
			&:before {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				border-left: 25px solid rgba(0,0,0,0);
				border-bottom: 10px solid white;
			}
		}
	}
	.btn-view-all {
		display: block;
		width: 280px;
		height: 50px;
		border: 1px solid #e5ddd5;
		margin: 0 auto;
		font: 400 18px/50px  "PT Sans - Narrow Bold";
		color: black;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
		&:active {
			background-color: #d5c9bd;
			color: #968d85;
		}
	}
}

@media (min-width: $screen-size-tablet) {
	main .news {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 51px 65px 17px 65px;
		h1 {
			order: -2;
			font: 400 30px/30px "PT Sans - Narrow Bold";
			margin: 0;
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 54px;
			width: 100%;
			li:nth-child(n) {
				width: 50%;
				padding-right: 40px !important;
			}
			li:nth-child(2) {
				padding-top: 0;
				&:after {
					width: 0;
					height: 0;
				}
			}
		}
		.btn-view-all {
			margin: 0;
			order: -1;
			width: 160px;
			height: 50px;
			font: 400 15px/50px  "PT Sans - Narrow Bold";
			border: 1px solid #e5ddd5;
		}
	}
}

@media (min-width: $screen-size-desktop) {
	main .news {
		padding:  63px 120px 15px 120px;
		h1 {
			margin-left: 71px;
		}
		li:nth-child(n) {
			width: 33.3333333%;
		}
		li:nth-child(3) {
			display: flex;
			padding-top: 0;
			&:after {
				width: 0;
				height: 0;
			}
		}
	
	}
}
