footer
	.contacts
		b.contacts-title Барбершоп Бородинский
		p.contacts-addres г. Санкт-Петербург, ул. Большая Конюшенная 19/8
			br
		a(href="tel:+78125556666").contacts-phone
			span.contacts-phone-tel Тел.:
			| +7 (812) 555-66-66
	.social
		b.social-title Давайте дружить!
		ul.social-list
			li.social-list-item
				a(href="#")
					.img-s-vk
			li.social-list-item
				a(href="#")
					.img-s-facebook
			li.social-list-item
				a(href="#")
					.img-s-instagram
	.development
		b.development-title Свёрстано:
		a(href="https://github.com/BataevDaniil").development-addres Даниилом Батаевым