header.main-header
	svg(style="display:none")
		symbol(viewBox="0 0 16 16")#icon-login
			polygon(points="0 7 7.01 7 7.01 4.06 10.96 8.01 7.01 11.91 7.01 9.06 0 9.02 0 7")
			polygon(points="7.01 0 7.01 2 14.03 2 14.03 13.99 7.01 13.99 7.01 16 16 16 16 0 7.01 0")
	.bg-header
		.bg-icone
	nav.main-nav.is-opened
		.main-nav-wrapper
			button(type="button").btn-nav
				span.visually-hidden Открыть меню
			ul.main-nav-list
				li.is-active
					a(href="#") Главная
				li
					a(href="#") Наши работы
				li
					a(href="#") Записаться
				li
					a(href="#") Контакты
				li
					a(href="#") Сылка
			ul.main-nav-list-exit
				li
					a(href="#")
						svg.icon-exit
							use(xlink:href="#icon-login")
						span.is-hidden Вход
