section.news
	h1 Новости и акции
	ul.news-list
		li
			time.number
				b 29
				br
				| сент
			p Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
		li
			time.number
				b 19
				br
				| сент
			p В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
		li.is-hidden
			time.number
				b 9
				br
				| сент
			p Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
		li.is-hidden
			time.number
				b 29
				br
				| сент
			p Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
		li.is-hidden
			time.number
				b 19
				br
				| сент
			p В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
	button(type="button").btn-view-all показать все



