section.plus
	.slider-wrapper
		ul.plus-list
			li
				.img-s-clips
				h1 Быстро
				p Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки
			li
				.img-s-chair
				h1 Круто
				p Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
			li
				.img-s-price
				h1 Дорого
				p Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
	ul.slider-toggle.is-hidden
		li.is-active
		li
		li
