section.reviews
	h1.title Отзывы о нас
	button.reviews-btn.is-hidden Оставить свой
	.slider-wrapper
		button.reviews-btn-previus.is-hidden
		.reviews-slider
			.reviews-slider-wrapper
				blockquote
					.img-people
					b.name Трэвис Баркер
					p Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
				blockquote
					.img-people
					b.name Джон Смит
					p Отличную стрижку мне сделали ребята.
				blockquote
					.img-people
					b.name Иван Бородайло
					p В Бородинском ваша борода в надёжных руках!
		button.reviews-btn-next.is-hidden
	.reviews-toggle-slider.is-hidden
		button.is-active
		button
		button
