section.stats
	header
		h1 Стрижка у нас это выгодно!
		p Мужская стрижка требует точного подхода. Обратимся к статистике:
		small.data-false.is-hidden
			sup *
			|— приведённые данные ложь
	table.stats-table
		tr
			td 1 500
				sup *
			td
				small рублей вложений
		tr
			td 7 200
			td
				small секунд времени мастера
		tr
			td 90 000
			td
				small постриженных волос
		tr
			td 500 000
				sup *
			td
				small лайков и комплиментов
	small.data-false.is-hidden
		sup *
		|— приведённые данные ложь
