$s-borodinski: 370px 195px -370px -195px 226px 30px 740px 313px 'sprite.png' 's-borodinski';
$s-borodinski1: 370px 0px -370px 0px 370px 101px 740px 313px 'sprite.png' 's-borodinski1';
$s-borodinski2: 0px 0px 0px 0px 370px 153px 740px 313px 'sprite.png' 's-borodinski2';
$s-chair: 560px 101px -560px -101px 95px 88px 740px 313px 'sprite.png' 's-chair';
$s-clips: 370px 101px -370px -101px 95px 94px 740px 313px 'sprite.png' 's-clips';
$s-facebook: 370px 274px -370px -274px 18px 39px 740px 313px 'sprite.png' 's-facebook';
$s-instagram: 420px 225px -420px -225px 36px 36px 740px 313px 'sprite.png' 's-instagram';
$s-login: 619px 195px -619px -195px 16px 16px 740px 313px 'sprite.png' 's-login';
$s-people1: 0px 153px 0px -153px 249px 160px 740px 313px 'sprite.png' 's-people1';
$s-people1mobile: 370px 225px -370px -225px 50px 49px 740px 313px 'sprite.png' 's-people1mobile';
$s-people1tablet: 655px 101px -655px -101px 80px 80px 740px 313px 'sprite.png' 's-people1tablet';
$s-price: 465px 101px -465px -101px 95px 91px 740px 313px 'sprite.png' 's-price';
$s-vk: 596px 195px -596px -195px 23px 26px 740px 313px 'sprite.png' 's-vk';
$all-sprite: $s-borodinski $s-borodinski1 $s-borodinski2 $s-chair $s-clips $s-facebook $s-instagram $s-login $s-people1 $s-people1mobile $s-people1tablet $s-price $s-vk;
