<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport"
	content="width=device-width,initial-scale=1" )
	title Barbershop
	link(rel="stylesheet", href="css/main.css")
body
	include include/header
	main
		include include/stats
		include include/plus
		include include/news
		include include/reviews
	include include/footer
	script(src="js/main.js")
