%all-sprite {
	$all-sprite: null !default;
	@if $all-sprite != null {
		@for $i from 1 through length($all-sprite) {
			.img-#{nth(nth($all-sprite, $i), length(nth($all-sprite, $i)))} {
				@include sprite(nth($all-sprite, $i));
			}
		}
	}
}
