@mixin sprite-image($sprite) {
	background-image: url('#{$path-sprite}#{nth($sprite, 9)}');
}

@mixin sprite-position($sprite) {
	background-position: nth($sprite, 3) nth($sprite, 4);
}

@mixin sprite-width($sprite) {
	width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
	height: nth($sprite, 6);
}

@mixin sprite($sprite) {
	@include sprite-image($sprite);
	@include sprite-position($sprite);
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}
